@model BizzBranding.Areas.Admin.Models.UserWebModel
@{
    ViewBag.Title = "Users";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<script type="text/javascript">
    //$ = jQuery.noConflict();
    $(document).ready(function () {
        $('#search').click(function (e) {
            debugger;
            e.preventDefault();
            var startDate = $('#date').val();
            var endDate = $('#date1').val();

            window.location.href = '../User/SearchUser?date=' + startDate + '&' + 'date1=' + endDate;
            //$.post('/User/SearchUser', { stdate: startDate, endate: endDate }
            //    //, function (data) {
            //    //debugger;
            //    //if (data != null)
            //    //{
            //    //    var displaytext = data.val();
            //    //}
            //);

        });
    });

</script>
<style>
    .countuser
    {
        float: right;
        margin-right: 58px;
        font-size: 16px;
    }
</style>
<div id="page-heading">
    <h1>All Users</h1>
    @if (Session["Success"] != null)
    {
        <div class="successmsg">
            @Session["Success"].ToString()
        </div>
        Session["Success"] = null;
    }
    else if (Session["Error"] != null)
    {
        <div class="errormsg">
            @Session["Error"].ToString()
        </div>
        Session["Error"] = null;
    }


</div>
<div id="tableouterdiv">
    @if (Convert.ToBoolean(Session["Add"]))
    {
        <div style="margin: 15px 0 0 0;">
            @Html.ActionLink("Create New", "AddEditUser", "User", new { @class = "mybtncreate" })
        </div>
    }
    <div style="margin-top: 20px; margin-left: 30px;">
        <b>From ::</b> @Html.TextBoxFor(x => x.CreatedDate, new { @class = "inp-form", @placeholder = "Valid From", @id = "date" })
        <b>To ::</b> @Html.TextBoxFor(x => x.CreatedDate, new { @class = "inp-form", @placeholder = "Valid To", @id = "date1" })
        @* @Html.ActionLink("SearchUser", "SearchUser", "User", new {@id="search" })*@
        <a class="mybtncreate" href="#" id="search">Search</a>


    </div>
    <strong class="countuser">@Model.CountUser are Registered</strong>
    <div id="content-table-inner">
        <div id="table-content">
            <table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
                <tr>
                    <th class="table-header-repeat line-left minwidth-1"><a href="#">Bussiness Name</a></th>
                    <th class="table-header-repeat line-left"><a href="#">Email</a></th>
                    @*<th class="table-header-repeat line-left"><a href="#">User Type</a></th>*@
                    <th class="table-header-repeat line-left"><a href="#">Created Date</a></th>
                    @if (Convert.ToBoolean(Session["Edit"]) || Convert.ToBoolean(Session["Delete"]) || Convert.ToBoolean(Session["Read"]))
                    {
                        <th class="table-header-options line-left"><a href="#">Options</a></th>
                        
                    }
                </tr>
                @foreach (var item in Model.Users)
                {
                    <tr>

                        <td>@item.BusinessName</td>
                        <td><a href="#">@item.EmailId</a></td>
                        @*<td>@item.UserType</td>*@
                        <td><a href="#">@item.CreatedDate</a></td>
                        @if (Convert.ToBoolean(Session["Edit"]) || Convert.ToBoolean(Session["Delete"]) || Convert.ToBoolean(Session["Read"]))
                        {
                            <td class="options-width">

                                @if (Convert.ToBoolean(Session["Edit"]))
                                {
                                    
                                    <a href="@Url.Action("AddEditUser", "User", new { @id = item.UserId })" title="Edit" class="icon-1 info-tooltip"></a>
                                }
                               @* @if (Convert.ToBoolean(Session["Delete"]))
                                {
                                    <a href="@Url.Action("DeleteUser", "User", new { @id = item.UserId })" title="Delete" class="icon-2 info-tooltip"></a>
                                }*@
                                @if (item.IsActive == true)
                                {
                                    <a href="#" title="Status"  data-uid="@item.UserId" class="icon-5"></a>
                                }
                                else if (item.IsActive == false)
                                {
                                    <a href="#" title="Status"  data-uid="@item.UserId" class="inactive"></a>
                                }
                                @if (Convert.ToBoolean(Session["View"]))
                                {
                                    <a href="@Url.Action("ViewUser", "User", new { @id = item.UserId })" title="View" class="view-icon"></a>
                                }
                            </td>
                        }
                    </tr>
                }


            </table>
        </div>

        <table border="0" cellpadding="0" cellspacing="0" id="paging-table">
            <tbody>
                <tr>
                    <td>
                        @{
                            
                            if (Model.PageID > 0)
                            {
                            <a href="@Url.Action("Users", "User", new { @pid = Model.PageID - 1 })" class="page-left"></a>
                            }
                            <div id="page-info">Page <strong>@Model.Current</strong>/ @Model.Pagecount</div>
                            if (Model.PageID + 1 < Model.Pagecount)
                            {
                            <a href="@Url.Action("Users", "User", new { @pid = Model.PageID + 1 })" class="page-right"></a>
                            }
                          
                        }
                    </td>
                </tr>
            </tbody>
        </table>
        <script>
            $("a.icon-5,a.inactive").click(function (e) {
                e.preventDefault();
                var userid = $(this).attr("data-uid");

                $.post("/Admin/User/ChangeUserStatus", { id: userid });

                $(this).toggleClass('icon-5');
                $(this).toggleClass('inactive');

            });

        </script>

        <div class="clear"></div>
    </div>
</div>
