@model BizzBranding.CommonUtility.BusinessNewsModel

@{
    ViewBag.Title = "CreateBusinessNews";
    //Layout = "~/Views/Shared/_ProfileLayout.cshtml";
    var message = TempData["AlertMessage"] ?? string.Empty;
    ViewData["Message"] = TempData["AlertMessage"];
        Layout = "~/Views/Shared/_MasterLayout.cshtml";
         <link href="~/Content/lib/fontawesome/font-awesome.min.css" rel="stylesheet" />
     <link href="~/Content/lib/fontawesome/font-awesome-ie7.min.css" rel="stylesheet" />
     <link href="~/Content/lib/jquery.bxslider/jquery.bxslider.css" rel="stylesheet" />
    <link href="~/Content/style/custom.css" rel="stylesheet" />
}
<div id="msg">
    <p style="color: green; padding-left: 8%"><strong>@ViewData["Message"]</strong></p>
</div>

<section class="brands">
    <div class="container">
        <div class="col-sm-2 business-new" style="">
            @Html.ActionLink("Create Profile News", "UpdateBusinessNews", "Home", new { @class = "btn btn-warning" })
        </div>
         <div class="col-sm-4 business-new" style="">
            @Html.ActionLink("Post HomePage News", "CreateHomePageNews", "Home", new { @class = "btn btn-warning" })
        </div>
       @* <div class="col-sm-4 business-new"  >
            @Html.ActionLink("Post Homepage News", "RenewNewsValidity", "Home", new { @class = "btn btn-warning" })
        </div>*@
        <div id="tableouterdiv" class="grids-wrap" style="">
            <div id="content-table-inner">
                <div id="table-content">
                    <div class="bs-example">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="success">News Title</th>
                                    <th class="success">News Description</th>
                                    @*  <th class="success"></th>*@
                                    <th class="success">Options</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model.BusinessNewsList)
                                {
                                    string str = item.Description;
                                    if (str.Length > 100)
                                    {
                                        str = str.Substring(0, 200);
                                    } 
                                    <tr>
                                        <td><b>@item.NewsTitle</b></td>
                                        <td>@Html.Raw(str)</td>
                                        @*<td></td>*@
                                        <td class="options-width" style="width:8%;">
                                            <a href="@Url.Action("RemoveBusinessNews", "Home", new { @id = item.BusinessNewsId })" title="Delete" class="icon-2 info-tooltip"></a>
                                            <a href="@Url.Action("UpdateBusinessNews", "Home", new { @id = item.BusinessNewsId })" title="Edit" class="icon-1 info-tooltip"></a>

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                <table border="0" cellpadding="0" cellspacing="0" id="paging-table">
                    <tbody>
                        <tr>
                            <td>
                                @{
                            
                                    if (Model.PageID > 0)
                                    {
                                    <a href="@Url.Action("BusinessNewsList", "Home", new { @pid = Model.PageID - 1 })" class="page-left"></a>
                                    }
                                    <div id="page-info">Page <strong>@Model.Current</strong>/ @Model.Pagecount</div>
                                    if (Model.PageID + 1 < Model.Pagecount)
                                    {
                                    <a href="@Url.Action("BusinessNewsList", "Home", new { @pid = Model.PageID + 1 })" class="page-right"></a>
                                    }
                          
                                }

                            </td>
                        </tr>
                    </tbody>
                </table>

                <script>
                    $("a.icon-5,a.inactive").click(function (e) {
                        e.preventDefault();
                        var userid = $(this).attr("data-uid");

                        $.post("/Admin/MasterData/ChangeNewsStatus", { id: userid });

                        $(this).toggleClass('icon-5');
                        $(this).toggleClass('inactive');

                    });

                </script>
                <div class="clear"></div>
                <div class="clear"></div>

            </div>
        </div>
    </div>
</section>
