@model BizzBranding.Models.BizUserLoginModel
@{
    ViewBag.Title = "ChangePassword";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Message"] = TempData["AlertMessage"];
        Layout = "~/Views/Shared/_MasterLayout.cshtml";
         <link href="~/Content/lib/fontawesome/font-awesome.min.css" rel="stylesheet" />
     <link href="~/Content/lib/fontawesome/font-awesome-ie7.min.css" rel="stylesheet" />
     <link href="~/Content/lib/jquery.bxslider/jquery.bxslider.css" rel="stylesheet" />
    <link href="~/Content/style/custom.css" rel="stylesheet" />
}
<div id="msg">
    <p style="color: green; padding-left: 8%"><strong>@ViewData["Message"]</strong></p>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        setTimeout(function () {
            $('#msg').hide();
        }, 60000);
    });
</script>

@using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post))
{
    <section class="brands">
        <div class="container">
            <div class="row">
                <div id="page-heading" style="color: red">
                    @* @if (ViewBag.Msg != null)
                    {
                        <div class="errormsg">
                            @ViewBag.Msg
                        </div>
                    }*@

                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <h2>ChangePassword</h2>
                    <form role="form">
                         <div class="form-margin">
                        @* <p style="color: Red; font-size: larger; font-weight: bold">@Model.Msg</p>*@
                        <div class="form-group">
                            <label>Enter Current Password</label>
                            @Html.PasswordFor(x => x.Password, new { @class = "form-control", @placeholder = "Enter Current Password" })
                            <b style="color: red">@Html.ValidationMessageFor(Model => Model.Password)</b>
                        </div>
                        <div class="form-group">
                            <label>Enter New Password</label>
                            @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control", @placeholder = "Enter New Password" })
                            <b style="color: red">@Html.ValidationMessageFor(Model => Model.NewPassword)</b>
                        </div>
                        <button type="submit" class="btn btn-success">Submit</button>
                        <button type="button" class="btn btn-warning" onclick="window.location.href = '../Home/Index'">Cancel</button>
                    </form>
                </div></div>
        </div>
         
    </section>
}



@*
<h2>ChangePassword</h2>
@using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post)) 

{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <p>
            <input type="submit" value="Submit" />
           <input type="button" value="Cancel" style="width: auto !important;" onclick="window.location.href = '/Home/Index'"  />
            <a href="@Url.Action("ForgotPassword","Home")">Forgot Password</a> @*class="btn btn-default btn-sm"
        </p>
    </fieldset>
}
 *@