@model BizzBranding.Areas.Admin.Models.ProductWebModel

@{
    ViewBag.Title = "EditProduct";
    //Layout = "~/Views/Shared/_ProfileLayout.cshtml";
            Layout = "~/Views/Shared/_MasterLayout.cshtml";
    
    
     <link href="~/Content/lib/fontawesome/font-awesome.min.css" rel="stylesheet" />
     <link href="~/Content/lib/fontawesome/font-awesome-ie7.min.css" rel="stylesheet" />
     <link href="~/Content/lib/jquery.bxslider/jquery.bxslider.css" rel="stylesheet" />
    <link href="~/Content/style/custom.css" rel="stylesheet" />
}
<script type="text/javascript">
    function fileChange(e) {

        var getFileName = e.value;
        if (getFileName != '') {
            var FileName = getFileName.split('fakepath');
            var name = FileName[1].replace("\\", "");
            document.getElementById('lblproductfile').innerHTML = name;
        }
    }
</script>

@using (Html.BeginForm("UpdateProduct", "Home", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.ProductId)
    <section class="brands">
        <div class="container">
            <div class="row">
                <div id="page-heading" style="color: red">
                    @if (ViewBag.Msg != null)
                    {
                        <div class="errormsg">
                            @ViewBag.Msg
                        </div>
                    }
                </div>
                @*<div class="col-sm-2"></div>*@
                <div class="col-sm-8">
                    <h2>Update your Business News</h2> 

                    <form role="form">
                        <div class="form-group">
                            <label>Product Name</label>
                            @Html.TextBoxFor(model => model.ProductName, new { @class = "inp-form form-control", @placeholder = "Enter Product Name" })
                            @Html.ValidationMessageFor(model => model.ProductName)
                            @* <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">*@
                        </div>
                        <div class="form-group">
                            <label>Product Details</label>
                            @Html.TextAreaFor(model => model.ProdDetails, new { @class = "ckeditor form-control", @placeholder = "Enter Product Details" })
                            @Html.ValidationMessageFor(model => model.ProdDetails)
                            @*<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">*@
                        </div>
                         <div class="form-group">
                            <label>Product Images</label>
                             <input type="file" name="file"  id="file" multiple="multiple" onchange="fileChange()"/>
                            @*@Html.ValidationMessageFor(model => model.ProdDetails)*@
                            @*<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">*@
                        </div>


                        <button type="submit" class="btn btn-default btn-success">Save</button>
                        <button type="button" class="btn btn-default btn-success" onclick="window.location.href = '../../Home/ProductList'">Cancel</button>
                    </form>
                </div>

                <div class="col-sm-4">
                    @*<div class="tabs">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs pull-right">
                            <li class="pull-left">
                                <h3>Brands By</h3>
                            </li>
                            <li class="pull-right"><a href="#tabB" data-toggle="tab">City</a></li>
                            <li class="active pull-right"><a href="#tabA" data-toggle="tab">Industry</a></li>
                        </ul>
                        <div class="clearfix"></div>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabA">
                                <ul class="list-group">
                                    @foreach (var Ind in Model.IndustryList)
                                    {
                                        <li class="list-group-item"><a href="@Url.Action("SearchbyIndustry", "Home", new { @id = Ind.IndustryId })">@Ind.IndustryName</a></li>
                                    }
                                </ul>
                            </div>
                            <div class="tab-pane" id="tabB">
                                <div class="list-group">
                                    @foreach (var ct in Model.CityList)
                                    {
                                        <a href="@Url.Action("SearchByCity", "Home", new { @CityId = ct.CityId })" class="list-group-item">
                                            <h4 class="list-group-item-heading">@ct.CityName</h4>
                                        </a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>*@

                     <div style="margin-top: 31px;">
                    <h2>News <i class="icon-bullhorn"></i></h2>
                    @foreach (var item in Model.NewsUpdates)
                    {
                        string str = item.Description;
                        if (str.Length > 100)
                        {
                            str = str.Substring(0, 100);
                        }
    
                        <h3>@item.NewsTitle</h3>
                        <p>@str</p>
                    }


                </div>
                   @* <div>
                        <h3>Block title..</h3>
                        <p>Brand is the "name, term, design, symbol, or any other feature that <a href="#">identifies one</a> seller's product distinct from those of other sellers.</p>
                        <p>Brand is the "name, term, design, symbol, or any other feature that identifies one seller's product distinct from those of other sellers.</p>
                        <p>Know more about it.. <span class="label label-primary">New</span></p>
                    </div>*@

                </div>
            </div>
        </div>
    </section>
}
