@model BizzBranding.CommonUtility.InvestorPartneringModel

@{
    ViewBag.Title = "InvestorPartnerRequestStatus";
    //Layout = "~/Views/Shared/_Layout.cshtml";
           Layout = "~/Views/Shared/_MasterLayout.cshtml";
     <link href="~/Content/lib/fontawesome/font-awesome.min.css" rel="stylesheet" />
     <link href="~/Content/lib/fontawesome/font-awesome-ie7.min.css" rel="stylesheet" />
     <link href="~/Content/lib/jquery.bxslider/jquery.bxslider.css" rel="stylesheet" />
    <link href="~/Content/style/custom.css" rel="stylesheet" />
}

<section class="brands">
    <div class="container">

        <div id="tableouterdiv" style="margin-top: 21px;">
            <div id="content-table-inner">
                <div id="table-content">
                    <div class="bs-example">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="success">Investor's Business Name</th>
                                    <th class="success">Investor Partnering Details</th>
                                      <th class="success">Requested On</th>
                                    <th class="success">Status</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model.InvestorPartneringList)
                                {
                                    //string str = item.Description;
                                    //if (str.Length > 100)
                                    //{
                                    //    str = str.Substring(0, 200);
                                    //} 
                                    <tr>
                                        <td><b>@item.BusinessName</b></td>
                                        <td>@item.Details</td>
                                        <td>@item.CreatedOn</td>
                                       <td class="options-width">
                                       @if (item.IsActive==true)
                                        {
                                           @* @Html.DisplayFor(x=>x.IsActive==true, new {@class="icon-5"})*@
                                             <a href="#" title="Approved"  data-uid="@item.InvestorPartnerId" class="icon-5"></a>
                                        }
                                        else
                                        {
                                              @*@Html.DisplayFor(x=>x.IsActive==false, new {@class="inactive"})*@
                                            <a href="#" title="Pending"  data-uid="@item.InvestorPartnerId" class="inactive"></a>
                                        }
                                             </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                <table border="0" cellpadding="0" cellspacing="0" id="paging-table">
                    <tbody>
                        <tr>
                            <td>
                                @{
                            
                                    if (Model.PageID > 0)
                                    {
                                    <a href="@Url.Action("InvestorPartnerRequestStatus", "Home", new { @pid = Model.PageID - 1 })" class="page-left"></a>
                                    }
                                    <div id="page-info">Page <strong>@Model.Current</strong>/ @Model.Pagecount</div>
                                    if (Model.PageID + 1 < Model.Pagecount)
                                    {
                                    <a href="@Url.Action("InvestorPartnerRequestStatus", "Home", new { @pid = Model.PageID + 1 })" class="page-right"></a>
                                    }
                          
                                }

                            </td>
                        </tr>
                    </tbody>
                </table>

                <script>
                    $("a.icon-5,a.inactive").click(function (e) {
                        e.preventDefault();
                        var userid = $(this).attr("data-uid");

                        $.post("/Admin/MasterData/ChangeNewsStatus", { id: userid });

                        $(this).toggleClass('icon-5');
                        $(this).toggleClass('inactive');

                    });

                </script>
                <div class="clear"></div>
                <div class="clear"></div>

            </div>
        </div>
    </div>
</section>
