@model BizzBranding.Areas.Admin.Models.ProductWebModel

@{
    ViewBag.Title = "ProductList";
    //Layout = "~/Views/Shared/_ProfileLayout.cshtml";
        Layout = "~/Views/Shared/_MasterLayout.cshtml";
         <link href="~/Content/lib/fontawesome/font-awesome.min.css" rel="stylesheet" />
     <link href="~/Content/lib/fontawesome/font-awesome-ie7.min.css" rel="stylesheet" />
     <link href="~/Content/lib/jquery.bxslider/jquery.bxslider.css" rel="stylesheet" />
    <link href="~/Content/style/custom.css" rel="stylesheet" />
}

<link href='http://fonts.googleapis.com/css?family=Puritan:400,400italic|Roboto+Slab:400,100' rel='stylesheet' type='text/css'>
@*<link href="~/Content/lib/bootstrap/bootstrap.min.css" rel="stylesheet" media="screen">*@

<link href="~/Content/lib/fontawesome/font-awesome.min.css" rel="stylesheet" media="screen">
<link href="~/Content/lib/fontawesome/font-awesome-ie7.min.css" rel="stylesheet" media="screen">
<link href="~/Content/lib/jquery.bxslider/jquery.bxslider.css" rel="stylesheet" />
<link href="~/Content/style/custom.css" rel="stylesheet" media="screen">


<section class="brands">
    <div class="container">
        <div class="row">
            <div style="margin: 15px 0 0 0;">
                @* @Html.ActionLink("AddNew Product", "UpdateBusinessNews", "Home", new { @class = "btn btn-sm btn-primary btn-popup-edit" })*@
                @*<h2><a href="#divAddProduct" class="Requestlink" onclick="PopUpDiv()">Add Product</a></h2>*@
            </div>
            <div id="divAddProduct" class="login-popup" style="display: none;">
                <a href="#" class="close" style="position: absolute; top: -1px; right: 2px;">
                    <img src="../../Content/images/close_pop_New.png" class="btn_close" title="Close Window" alt="Close" /></a>
                <div id="LoadProduct" style="overflow: overlay; height: 100%; width: 100%">
                    @* @Html.Partial("_AddProduct")*@
                </div>
            </div>

                
                <div id="tableouterdiv">
                    <div id="content-table-inner">
                        <div id="table-content">
                            <h2>Product List </h2>
                            @*<h2>Product List <a href="#divAddProduct" class="Requestlink pull-right" onclick="PopUpDiv()">Add Product</a></h2>*@
                            <div class="form-margin" style="margin-top:15px">
                                <a href="@Url.Action("AddProduct","Home")" class="Requestlink pull-right" ><input type="button" class=" pull-right btn-warning product-btn" value="Add Product" ></a>
                            <table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table" class="table table-bordered">
                                <tr>
                                    <div class="col-sm-8">
                                        <th class="success">Product Name</th>
                                        <th class="success">Product Details</th>
                                        <th class="success">Created Date</th>
                                        <th class="success">Product Images</th>
                                        @* @if (Convert.ToBoolean(Session["Edit"]) || Convert.ToBoolean(Session["Delete"]) || Convert.ToBoolean(Session["Read"]))
                    {*@
                                        <th class="success">Options</th>

                                        @* }*@
                                    </div>
                                </tr>

                                @foreach (var item in Model.Products)
                                {
                                    string str = item.ProdDetails;
                                    if (str.Length > 100)
                                    {
                                        str = str.Substring(0, 200);
                                    } 
                                    <tr>
                                        <td>@item.ProductName</td>
                                        <td>@str</td>
                                        <td>@item.CreatedDate</td>
                                        <td  >
                                            <img width="50px" height="50px" src="~/Areas/Admin/ProjectImages/ProductImage/@item.ProdImage"/>
                                        </td>
                                        @* <td>@Html.Raw(item.Description)</td>*@
                                        @*<td>@item.IsActive</td>*@
                                        @* @if (Convert.ToBoolean(Session["Edit"]) || Convert.ToBoolean(Session["Delete"]) || Convert.ToBoolean(Session["Read"]))
                                    {
                                        *@
                                        <td class="options-width" style="width:8%;">


                                            <a href="@Url.Action("EditProduct", "Home", new { @id = item.ProductId })" title="Edit" class="icon-1 info-tooltip"></a>


                                            @if (item.IsActive == true)
                                            {
                                                <a href="#" title="Status"  data-uid="@item.ProductId" class="icon-5"></a>

                                            }
                                            else if (item.IsActive == false)
                                            {
                                                <a href="#" title="Status"  data-uid="@item.ProductId" class="inactive"></a>
                                    
                                            }
@* @if (Convert.ToBoolean(Session["View"]))
                                            {
                                                <a href="@Url.Action("ViewProducts", "MasterData", new { @id = item.ProductId })" title="View" class="view-icon"></a>
                                            }*@
                                        </td>
                                        @* }*@

                                    </tr>
                                }


                            </table>
                        </div> </div>

                        <table border="0" cellpadding="0" cellspacing="0" id="paging-table">
                            <tbody>
                                <tr>
                                    <td>
                                        @{
                            
                                            if (Model.PageID > 0)
                                            {
                                            <a href="@Url.Action("ProductList", "Home", new { @pid = Model.PageID - 1 })" class="page-left"></a>
                                            }
                                            <div id="page-info">Page <strong>@Model.Current</strong>/ @Model.Pagecount</div>
                                            if (Model.PageID + 1 < Model.Pagecount)
                                            {
                                            <a href="@Url.Action("ProductList", "Home", new { @pid = Model.PageID + 1 })" class="page-right"></a>
                                            }
                          
                                        }

                                    </td>
                                </tr>
                            </tbody>
                        </table>



                        <script>
                            $("a.icon-5,a.inactive").click(function (e) {
                                e.preventDefault();
                                var userid = $(this).attr("data-uid");

                                $.post("/Admin/MasterData/ChangeNewsStatus", { id: userid });

                                $(this).toggleClass('icon-5');
                                $(this).toggleClass('inactive');

                            });

                        </script>
                        <div class="clear"></div>
                        <div class="clear"></div>

                    </div>
                </div>
        </div>
    </div>
</section>
<script type="text/javascript">

    function PopUpDiv(val) {
        debugger
        $('#LoadProduct').load('/Home/AddProduct');

        // Getting the variable's value from a link 
        var loginBox = $('a.Requestlink').attr('href');

        //Fade in the Popup and add close button
        $(loginBox).fadeIn(300);

        //Set the center alignment padding + border
        var popMargTop = ($(loginBox).height() + 24) / 2;
        var popMargLeft = ($(loginBox).width() + 24) / 2;

        $(loginBox).css({
            'margin-top': -popMargTop,
            'margin-left': -popMargLeft
        });

        // Add the mask to body
        $('body').append('<div id="mask"></div>');
        $('#mask').fadeIn(300);
        $("input[type='text']").val('');
        return false;
    }
</script>
<script type="text/ecmascript">
    //$(document).ready(function () {

    //});
</script>
