@model BizzBranding.CommonUtility.CoBrandModel
@{
    ViewBag.Title = "AddEditCoBrand";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<script type="text/javascript">
    function fileChange(e) {

        var getFileName = e.value;
        if (getFileName != '') {
            var FileName = getFileName.split('fakepath');
            var name = FileName[1].replace("\\", "");
            document.getElementById('lblproductfile').innerHTML = name;
        }
    }
</script>
<div id="page-heading">
    <h1>Add / Edit CoBrand</h1>
    @if (Session["Error"] != null)
    {
        <div class="errormsg">
            @Session["Error"].ToString()
        </div>
        Session["Error"] = null;
    }
</div>
@{Html.EnableClientValidation(true);}
@using (Html.BeginForm("AddEditCoBrand", "MasterData", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    
    @Html.HiddenFor(x => x.CoBrandId)
    @Html.HiddenFor(x=>x.PartnerA)
    @Html.HiddenFor(x=>x.PartnerB)
    <div style="box-shadow: 0 0 5px; border-radius: 10px;">
        <div class="emptyspace"></div>
        <div class="row">
            <div class="rowleft">BusinessName A</div>
            <div class="rowright">
                @Html.DropDownListFor(x=>x.PartnerA, Model.PartnerAList, "Select", new { @class = "styledselect_form_1" })
                @Html.ValidationMessageFor(x => x.PartnerA)
            </div>
        </div>
           <div class="row">
            <div class="rowleft">BusinessName B</div>
            <div class="rowright">
                @Html.DropDownListFor(x=>x.PartnerB, Model.PartnerBList, "Select", new { @class = "styledselect_form_1" })
                @Html.ValidationMessageFor(x => x.PartnerB)
            </div>
        </div>

         @*<div class="row">
            <div class="rowleft">CoBranded Users List</div>
            <div class="rowright">
                @Html.DropDownListFor(x=>x.CoBrandId, Model.CoBrandedUsersList, "Select", new { @class = "styledselect_form_1" })
                @Html.ValidationMessageFor(x => x.CoBrandId)
            </div>
        </div>*@

         <div class="row">
            <div class="rowleft"><span>CoBranded Name</span></div>
            <div class="rowright">
                @Html.TextBoxFor(x => x.CoBrandedName, new { @class = "inp-form", @placeholder = "CoBranded Name" })
                 @Html.ValidationMessageFor(x => x.CoBrandedName)
            </div>
        </div>

        <div class="row">
            <div><span class="rowleft">Co-Brand Product Image</span></div>
            <div class="rowright">
                <input type="file" name="file"  id="file" multiple="multiple" onchange="fileChange()"/>
            </div>
        </div>

         @*<div class="row">
            <div class="rowleft"><span>Co-Branding Name</span></div>
            <div class="rowright">
                @Html.TextBoxFor(x => x.CoBrandedName)
                 @Html.ValidationMessageFor(x => x.CoBrandedName)
            </div>
        </div>*@
         <div class="row">
            <div class="rowleft"><span>Co-Brand Product Details</span></div>
            <div class="rowright">
                @Html.TextAreaFor(x => x.ProductDetails, new { @class = "form-textarea" })
                 @Html.ValidationMessageFor(x => x.ProductDetails)
            </div>
        </div>

         @*<div class="row">
            <div><span class="rowleft">Activated On</span></div>
            <div class="rowright">
                @Html.TextBoxFor(x => x.ActivatedOn, new { @class = "inp-form", @placeholder = "Valid From", @id = "date" })
                @Html.ValidationMessageFor(x => x.ActivatedOn)
            </div>
        </div>*@

        <div class="row">
            <div><span class="rowleft">Validity in Months</span></div>
            <div class="rowright">
                 @Html.DropDownListFor(x => x.No_Month, Enumerable.Range(1, 12).Select(i => new SelectListItem { Value = i.ToString(), Text = i.ToString() }), "Month")
               @* @Html.TextBoxFor(x => x.ExpiresOn, new { @class = "inp-form", @placeholder = "Valid To", @id = "date1" })
                @Html.ValidationMessageFor(x => x.ExpiresOn)*@
            </div>
        </div>
       @* <div class="row">
            <div ><span class="rowleft">City Name</span></div>
            <div class="rowright">
                @Html.TextBoxFor(x => x.CityName, new { @class = "inp-form", @placeholder = "City Name" })
                @Html.ValidationMessageFor(x => x.CityName)
            </div>
        </div>*@
        <div class="row">
            <div class="rowleft">@Html.LabelFor(x => x.IsActive)</div>
            <div class="rowright">
                @Html.CheckBoxFor(x => x.IsActive)
            </div>
        </div>



        <div class="row">
            <div class="rowleft">
                
            </div>
            <div class="rowright">
                <input type="submit" value="Submit" class="form-submit left" />
                <a href="@Url.Action("CoBranded","MasterData")" class="form-reset">Cancel</a>
            </div>

        </div>
    </div>
}
