@model BizzBranding.Areas.Admin.Models.AdministratorWebModel
@{
    ViewBag.Title = "AllAdministrators";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    ViewBag.mainmenu = "AllAdministrators";
}
<script src="~/Scripts/jquery-1.8.2.min.js"></script>

<div id="page-heading">
    <h1>All Administrators</h1>
    @if (Session["Success"] != null)
    {
        <div class="successmsg">
            @Session["Success"].ToString()
        </div>
        Session["Success"] = null;
    }
    else if (Session["Error"] != null)
    {
        <div class="errormsg">
            @Session["Error"].ToString()
        </div>
        Session["Error"] = null;
    }


</div>
@Html.HiddenFor(model=>model.AdminId)
<div id="tableouterdiv">
    @if (Convert.ToBoolean(Session["Add"]))
    {
        <div style="margin: 15px 0 0 0;">
            @Html.ActionLink("Create New", "AddEditAdministrator", "MasterData", new { @class = "mybtncreate" })
        </div>
    }

    <div id="content-table-inner">
        <div id="table-content">
            <table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
                <tr>
                    <th class="table-header-repeat line-left minwidth-1"><a href="#">User Name</a></th>
                    <th class="table-header-repeat line-left"><a href="#">Email</a></th>
                    <th class="table-header-repeat line-left"><a href="#">Role</a></th>
                    @if (Convert.ToBoolean(Session["Edit"]) || Convert.ToBoolean(Session["Delete"]) || Convert.ToBoolean(Session["Read"]))
                    {
                        <th class="table-header-options line-left"><a href="#">Options</a></th>
                        
                    }
                </tr>
                @foreach (var item in Model.Administrator)
                {
                    <tr>
                       
                        <td>@item.UserName</td>
                        <td><a href="#">@item.Email</a></td>
                        <td>@item.Role</td>
                        @if (Convert.ToBoolean(Session["Edit"]) || Convert.ToBoolean(Session["Delete"]) || Convert.ToBoolean(Session["Read"]))
                        {
                            <td class="options-width">

                                @if (Convert.ToBoolean(Session["Edit"]))
                                {
                                    <a href="@Url.Action("AddEditAdministrator", "MasterData", new { @id = item.AdminId })" title="Edit" class="icon-1 info-tooltip"></a>
                                }
                                @if (Convert.ToBoolean(Session["Delete"]))
                                {
                                    <a href="#" title="Delete" class="icon-2 info-tooltip"></a>
                                    
                                }
                                @if (item.IsActive == true)
                                {
                                    <a href="#" title="Status"  data-uid="@item.AdminId" class="icon-5"></a>

                                }
                                else if (item.IsActive == false)
                                {
                                    <a href="#" title="Status"  data-uid="@item.AdminId" class="inactive"></a>
                                    
                                }


                                @if (Convert.ToBoolean(Session["View"]))
                                {
                                    <a href="@Url.Action("ViewAdministrator", "MasterData", new { @id = item.AdminId })" title="View" class="view-icon"></a>
                                }
                            </td>
                        }
                    </tr>
                }


            </table>
        </div>

        <table border="0" cellpadding="0" cellspacing="0" id="paging-table">
            <tbody>
                <tr>
                    <td>
                        @{
                            
                            if (Model.PageID > 0)
                            {
                            <a href="@Url.Action("AllAdministrators", "MasterData", new { @pid = Model.PageID - 1 })" class="page-left"></a>
                            }
                            <div id="page-info">Page <strong>@Model.Current</strong>/ @Model.Pagecount</div>
                            if (Model.PageID + 1 < Model.Pagecount)
                            {
                            <a href="@Url.Action("AllAdministrators", "MasterData", new { @pid = Model.PageID + 1 })" class="page-right"></a>
                            }
                          
                        }
                    </td>
                </tr>
            </tbody>
        </table>
        <script>
            $("a.icon-5,a.inactive").click(function (e) {
                e.preventDefault();
                var userid = $(this).attr("data-uid");

                $.post("/Admin/MasterData/ChangeAdminStatus", { id: userid });

                $(this).toggleClass('icon-5');
                $(this).toggleClass('inactive');

            });

        </script>
        <div class="clear"></div>
    </div>
</div>
