@model BizzBranding.Areas.Admin.Models.CityWebModel
@{
    ViewBag.Title = "City";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<script src="~/Scripts/jquery-1.8.2.min.js"></script>

<script>
    $(document).ready(function () {
        $('#course').change(function () {
            var cid = $(this).val();
            $('a.mybtncreate').attr("href", "/Admin/MasterData/City?cid=" + cid)
        });

        $('#institute').change(function () {
            var ID = document.getElementById('institute').value;
            $.post("/Admin/MasterData/GetCourseByInstituteId", { id: ID }, function (data) {
                var elements = data;
                $.each(data, function () {
                    elements = elements + '<option value="' + this.ID + '">' + this.name + '</option>'
                });
                $('#course').empty().attr('disabled', false).append("<option value='0'>Select</option>")
                $('#course').append(elements);
            });
        });

        $('#course').change(function () {
            var ID = document.getElementById('course').value;
            $.post("/Admin/MasterData/GetSubjectByCourseId", { id: ID }, function (data) {
                var elements = data;
                $.each(data, function () {
                    elements = elements + '<option value="' + this.ID + '">' + this.name + '</option>'
                });
                $('#subject').empty().attr('disabled', false).append("<option value='0'>Select</option>")
                $('#subject').append(elements);
            });
        });

    });

</script>

<div id="page-heading">
    <h1>All Cities</h1>
    @if (Session["Success"] != null)
    {
        <div class="successmsg">
            @Session["Success"].ToString()
        </div>
        Session["Success"] = null;
    }
    else if (Session["Error"] != null)
    {
        <div class="errormsg">
            @Session["Error"].ToString()
        </div>
        Session["Error"] = null;
    }


</div>

<div id="tableouterdiv">
    @if (Convert.ToBoolean(Session["Add"]))
    {
        <div style="margin: 15px 0 0 0;">
            @Html.ActionLink("Create New", "AddEditCity", "MasterData", new { @class = "mybtncreate" })
        </div>
    }
    @*<div style="float: right; margin: -20px 54px 0 0;">
        Sort By:
                @Html.DropDownListFor(x => x.ParentCourseID, Model.ParentCourses, "Select", new { @id = "institute" })
        @Html.DropDownListFor(x => x.CourseID, Model.Course, "Select", new { @id = "course" })
        <a href="@Url.Action("Courses", "MasterData", new { @cid = Model.CourseID })" class = "mybtncreate" >Go</a>
    </div>*@
    <div id="content-table-inner">
        <div id="table-content">
            <table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
                <tr>
                    <th class="table-header-repeat line-left minwidth-1"><a href="">City Name</a></th>
                    @*<th class="table-header-repeat line-left minwidth-1"><a href="#">Created Date</a></th>*@
                    @*<th class="table-header-repeat line-left minwidth-1"><a href="#">IsActive</a></th>*@
                    @if (Convert.ToBoolean(Session["Edit"]) || Convert.ToBoolean(Session["Delete"]) || Convert.ToBoolean(Session["Read"]))
                    {
                        <th class="table-header-options line-left"><a href="#">Options</a></th>
                        
                    }
                </tr>
                @foreach (var item in Model.Cities)
                {
                    <tr>
                      
                        <td>@item.CityName</td>
                        @*<td>@item.CreatedDate</td>*@
                       @* <td>@item.IsActive</td>*@
                        @if (Convert.ToBoolean(Session["Edit"]) || Convert.ToBoolean(Session["Delete"]) || Convert.ToBoolean(Session["Read"]))
                        {
                            <td class="options-width">

                                @if (Convert.ToBoolean(Session["Edit"]))
                                {
                                    <a href="@Url.Action("AddEditCity", "MasterData", new { @id = item.CityId })" title="Edit" class="icon-1 info-tooltip"></a>
                            
                           
                                }
                                 @if (item.IsActive == true)
                                {
                                    <a href="#" title="Status"  data-uid="@item.CityId" class="icon-5"></a>

                                }
                                else if (item.IsActive == false)
                                {
                                    <a href="#" title="Status"  data-uid="@item.CityId" class="inactive"></a>
                                    
                                }
                               
                                 @if (Convert.ToBoolean(Session["View"]))
                                {
                                    <a href="@Url.Action("ViewCity", "MasterData", new { @id = item.CityId })" title="View" class="view-icon"></a>
                                }
                            </td>
                        }
                    </tr>
                }

            </table>
        </div>

        <table border="0" cellpadding="0" cellspacing="0" id="paging-table">
            <tbody>
                <tr>
                    <td>
                          @{
                            
                            if (Model.PageID > 0)
                            {
                            <a href="@Url.Action("City", "MasterData", new { @pid = Model.PageID - 1 })" class="page-left"></a>
                            }
                            
                            <div id="page-info">Page <strong>@Model.Current</strong>/ @Model.Pagecount</div>
                            if (Model.PageID + 1 < Model.Pagecount)
                            {
                            <a href="@Url.Action("City", "MasterData", new { @pid = Model.PageID + 1 })" class="page-right"></a>
                            }
                           
                        }
                    </td>
                </tr>
            </tbody>
        </table>

          <script>
              $("a.icon-5,a.inactive").click(function (e) {
                  e.preventDefault();
                  var userid = $(this).attr("data-uid");

                  $.post("/Admin/MasterData/ChangeCityStatus", { id: userid });

                  $(this).toggleClass('icon-5');
                  $(this).toggleClass('inactive');

              });

        </script>
        <div class="clear"></div>
    </div>
</div>
